# Environment variables
.env
.env.*

# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Virtual environments
venv/
.venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Git
.git/
.gitignore

# OS specific
.DS_Store